.past-event {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.upcoming-event {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.card .icon-container {
    font-size: 2.65rem;
}
.card .fw-bolder {
    font-size: 0.595rem;
}
.card .total-value {
    font-size: 1.25rem;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .card .icon-container {
        font-size: 2.5rem;
    }
    .card .fw-bolder {
        font-size: 0.7rem;
    }
    .card .total-value {
        font-size: 1.15rem;
    }
}

@media (max-width: 992px) {
    .card .icon-container {
        font-size: 2.2rem;
    }
    .card .fw-bolder {
        font-size: 0.75rem;
    }
    .card .total-value {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .card .icon-container {
        font-size: 2rem;
    }
    .card .fw-bolder {
        font-size: 0.8rem;
    }
    .card .total-value {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .card .icon-container {
        font-size: 1.8rem;
    }
    .card .fw-bolder {
        font-size: 0.75rem;
    }
    .card .total-value {
        font-size: 0.9rem;
    }
    .card .card-body {
        padding: 1rem;
    }
}